<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--<add key="CashDeskCount" value="5" />
    <add key="OrderMinProcessTime" value="1000" /> --><!--1 sec--><!--
    <add key="OrderMaxProcessTime" value="5000" /> --><!--5 sec--><!--
    <add key="CustomersLineArrivalRate" value="1000" /> --><!--1 sec-->

  </appSettings>
</configuration>
